@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container img {
  max-width: none !important;
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-surface text-textPrimary dark:bg-dark-surface dark:text-dark-textPrimary antialiased;
}

a {
  @apply text-primary font-medium;
}

.card {
  @apply bg-surface dark:bg-dark-surface shadow-card border border-border dark:border-dark-border rounded-card;
}
